# Puerto del servidor (por defecto 3000)
PORT=3000

# URL del frontend (para CORS)
FRONTEND_URL=http://localhost:4200

# URL pública del backend (para generar URLs de descarga)
BACKEND_URL=http://localhost:3000
